@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  box-sizing: border-box;
}

@layer utilities {
  .grid-areas-desktop-service {
    display: grid;
    grid-template-areas:
      "title image"
      "link image";
    grid-template-columns: 1fr 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: 1fr 1fr; /* Adicionado para definir as linhas */
  }
  .grid-areas-mobile-service {
    display: grid;
    grid-template-areas:
      "title title"
      "link image";
    grid-template-columns: 40% 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: 20% 1fr; /* Adicionado para definir as linhas */
  }
  .grid-areas-desktop-footer {
    display: grid;
    grid-template-areas:
      "logo navBar navBar socialMedias"
      "information information information information"
      "rightsReserved rightsReserved rightsReserved rightsReserved " ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 1fr 20%;
  }
}