@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  box-sizing: border-box;
}

@layer utilities {
  .grid-areas-card-mobile {
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "subtitle"
      "button";
    grid-template-columns: 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: auto; /* Adicionado para definir as linhas */
  }
  .grid-areas-card-desktop {
    display: grid;
    grid-template-areas:
      "title image"
      "subtitle image"
      "button image";
    grid-template-columns: 52% 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: auto; /* Adicionado para definir as linhas */
  }
  .grid-areas-desktop-service {
    display: grid;
    grid-template-areas:
      "title image"
      "link image";
    grid-template-columns: 1fr 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: 1fr 1fr; /* Adicionado para definir as linhas */
  }
  .grid-areas-mobile-service {
    display: grid;
    grid-template-areas:
      "title title"
      "link image";
    grid-template-columns: 40% 1fr; /* Adicionado para definir as colunas */
    grid-template-rows: 20% 1fr; /* Adicionado para definir as linhas */
  }
}